@import "~@blueprintjs/core/lib/scss/variables.scss";

.deleteButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-top: $pt-grid-size * 1.5;
}

.emojiPickerTrigger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  width: 30px;
  height: 30px;
}
